<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>申诉记录</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdn.bootcss.com/dayjs/1.7.8/dayjs.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="/js/common/common.js"></script>
<link href="/css/common/common.css" rel="stylesheet" type="text/css">
<style type="text/css">
</style>
</head>

<body>
	<div th:replace="common/header::html"></div>
	<div id="appeal-record" v-cloak>
		<div class="page-body" style="background: #f2f2f2;">
			<div class="input-group" style="padding-top: 0.3rem;">
				<input type="text" class="form-control" style="width: 8rem;" v-model="orderNo" placeholder="订单号"> <select class="form-control" style="height: 3rem;" v-model="gatheringChannelCode">
					<option value="">收款渠道</option>
					<option v-for="dictItem in gatheringChannelDictItems" :value="dictItem.dictItemCode">{{dictItem.dictItemName}}</option>
				</select>
			</div>
			<div class="input-group">
				<select class="form-control" style="height: 3rem;" v-model="appealType">
					<option value="">申诉类型</option>
					<option v-for="dictItem in appealTypeDictItems" :value="dictItem.dictItemCode">{{dictItem.dictItemName}}</option>
				</select>
			</div>
			<div class="input-group" style="padding-bottom: 0.3rem;">
				<select class="form-control" style="width: 2.2rem; height: 3rem;" v-model="appealState">
					<option value="">状态</option>
					<option v-for="dictItem in appealStateDictItems" :value="dictItem.dictItemCode">{{dictItem.dictItemName}}</option>
				</select><input type="date" class="form-control" style="width: 8rem;" v-model="initiationTime">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button" v-on:click="query">查询</button>
				</div>
			</div>
			<div class="form-details" v-for="appealRecord in appealRecords">
				<div class="form-details-body">
					<div class="form-details-item">
						<label>订单号:</label> <span>{{appealRecord.orderNo}}</span><label class="form-details-item-highlight">{{appealRecord.stateName}}</label>
					</div>
					<div class="form-details-item">
						<label>发起时间:</label> <span>{{appealRecord.initiationTime}}</span>
					</div>
					<div class="form-details-item">
						<label>收款渠道:</label> <span>{{appealRecord.gatheringChannelName}}</span><label>收款金额:</label> <span>{{appealRecord.gatheringAmount}}元</span>
					</div>
					<div class="form-details-item">
						<label>申诉类型:</label> <span>{{appealRecord.appealTypeName}}</span>
					</div>
					<div class="form-details-item">
						<label class="form-details-item-highlight">{{appealRecord.initiatorObj == 'user' ? '用户发起' : '商户发起'}}</label>
						<template v-if="appealRecord.state == '2'"> <label>处理方式:</label> <span class="form-details-item-highlight">{{appealRecord.processWayName}}</span></template>
					</div>
					<div class="form-details-item" style="padding-bottom: 0.5rem;">
						<button class="btn btn-outline-danger btn-lg" type="button" v-show="(appealRecord.state == '1' && appealRecord.initiatorObj == 'merchant' && appealRecord.appealType != '3' && (appealRecord.userSreenshotIds == null || appealRecord.userSreenshotIds.length == 0))" v-on:click="showViewDetailsPage(appealRecord.id)">提供截图</button>
						<button class="btn btn-outline-info btn-lg" type="button" v-show="!(appealRecord.state == '1' && appealRecord.initiatorObj == 'merchant' && appealRecord.appealType != '3' && (appealRecord.userSreenshotIds == null || appealRecord.userSreenshotIds.length == 0))" v-on:click="showViewDetailsPage(appealRecord.id)">查看详情</button>
					</div>
				</div>
			</div>
			<div style="padding-left: 13rem;">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" v-show="totalPage > 0 && pageNum > 1" v-on:click="prePage">上一页</a></li>
					<li class="page-item"><a class="page-link" v-show="pageNum >= 1 && pageNum < totalPage" v-on:click="nextPage">下一页</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div th:replace="common/footer::html"></div>
	<script type="text/javascript" src="/js/appeal-record.js"></script>
</body>
</html>